@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

:root {
  --bg-color: #feffde;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', sans-serif;
}

body {
  background-color: var(--bg-color);
  /* background-color: black; */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
  flex-direction: column;
}

header {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #cb0000;
  padding: 1rem 0;
}

.header_nav h1 {
  width: 100%;
  margin-left: 1rem;
}

/* Home */
.home h2,
.base h2,
.toppings h2,
.order h2 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.btn {
  border: 2px solid #cb0000;
  background-color: transparent;
  color: #cb0000;
  padding: 1rem 3rem;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
}

/* Base */

.base ul {
  margin-bottom: 4rem;
}
/* List */

li {
  list-style: none;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}

li span.active {
  color: #cb0000;
  font-weight: bold;
  position: relative;
}

li span.active::after {
  content: '>';
  position: absolute;
  top: -0.05rem;
  left: -1rem;
}

.order p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.order p.order_para {
  margin-bottom: 0.2rem;
}
